img {
  height: 500px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
}
body {
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  background-color: whitesmoke;
  color: azure;
  height: 700px;
  width: 500px;
  border-radius: 40px;
}
#navbar {
  background-color: aliceblue;
  color: aquamarine;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  font-size: 20px;
}
#right > a {
  text-decoration: none;
  text-transform: capitalize;
}
#right {
  display: flex;
  gap: 30px;
  align-items: center;
}
#right > button {
  background-color: rgb(19, 19, 184);
  border: 1px solid gray;
  font-size: 18px;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
#right > button:hover {
  background-color: gray;
}

#box {
  background-color: aqua;
  padding: 52px 150px;
  border: 10px solid orange;
  margin: 100px 50px 400px;
  font-style: italic;
  text-decoration: underline;
  font-size: 23px;
  text-align: center;
  letter-spacing: 4px;
  word-spacing: 4px;
  line-height: 50px;
}
#box-container {
  background-color: aquamarine;
}
.box1 {
  background-color: red;
  height: 300px;
  width: 300px;
}
.box2 {
  background-color: blueviolet;
  height: 300px;
  width: 300px;
  visibility: hidden;
}
.box3 {
  background-color: orange;
  height: 300px;
  width: 300px;
}
#inline > p {
  background-color: blueviolet;
  font-size: 50px;
  display: inline; /*This will make the element inline */
}
#block > a {
  height: 900px;
  width: 900px;
  font-size: 30px;
  color: white;
  background-color: red;
}
#inline-block > span {
  background-color: green;
  font-size: 50px;
  height: 20rem;
  width: 20rem;
  display: inline block; /* This will make the element inline-block */
}
/* P {
color: red;
font-size: 50px;
} */
.descendant p {
  color: red;
  font-size: 50px;
}
#texts {
  background-color: greenyellow;
  color: aquamarine;
  font-size: 50px;
  text-decoration: underline;
  cursor: pointer;
}

.descendant h2:hover {
  color: 💜;
  font-size: 50px;
}

#flex {
  display: flex;
  flex-direction: row;
  background-color: green;
  height: 100vh;
  width: 100vw;
  justify-content: last baseline;
  align-items: center;
  flex-wrap: wrap;
}

#flex > p {
  background-color: yellow;
  height: 100px;
  width: 100px;
  color: black;
}
#position > section {
  height: 100vh;
  width: 100vw;
}
#relative {
  background-color: red;
}
#relative-box {
  background-color: green;
  height: 100px;
  width: 100px;
}
#fixed {
  background-color: blue;
  position: relative;
}
#fixed-box {
  background-color: rgba(193, 150, 6, 0.797);
  height: 100px;
  width: 100px;
  position: fixed;
  left: 0%;
  top: 50vh;
  z-index: 2;
}
#absolute {
  background-color: aquamarine;
  position: relative;
}
#absolute-box {
  background-color: yellow;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 10px;
  bottom: 0px;
  top: 0;
  z-index: 1;
}
#sticky {
  background-color: purple;
  position: relative;
}
#sticky-box {
  background-color: white;
  height: 100px;
  width: 100px;
  position: sticky;
  top: 0px;
}
#static {
  background-color: brown;
}
#static-box {
  background-color: rgb(47, 0, 128);
  height: 100px;
  width: 100px;
}
#contacts {
  background-color: navy;
}
#contacts-list {
  background-color: red;
  font-size: 30px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  position: relative;
}
#sticky-h1 {
  position: sticky;
  top: 65px;
  background-color: yellowgreen;
  color: white;
  padding: 10px;
  z-index: 2;
}
#A{
  background-color: aquamarine;
  position: relative;
}
#A > h2{
  position: sticky;
  top: 0%;
  background-color:yellow;
  color: white;
  padding: 20px;
  z-index: 1;
 
}
#B {
  background-color: aquamarine;
  position: relative;
}

#B > h2{
  position: sticky;
  top: 0%;
  background-color:yellow;
  color: white;
  padding: 20px;
  z-index: 1;
}
#C {
  background-color: aquamarine;
  position: relative;
}

#C > h2{
  position: sticky;
  top: 0%;
  background-color:yellow;
  color: white;
  padding: 20px;
  z-index: 1;
}